

#button-addon2 {
  font-size: 20px;
  font-weight: 900;
}

.for-boder {
  border: none;
  cursor: pointer;
}


.form-control:focus {
    border-color: #ff4d00;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

input{
    background: rgb(228, 228, 228) !important;
    border: none !important;
}

.for-bold{

    font-weight: 400;

}

.nav-border{

  border-radius: 10px;
  max-height: 40px;

}