#button-addon2 {
  font-size: 20px;
  font-weight: 900;
}

.for-boder {
  border: none;
  cursor: pointer;
}

.form-control:focus {
  border-color: #ff4d00;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

input {
  background: rgb(228, 228, 228) !important;
  border: none !important;
}

.for-bold {
  font-weight: 400;
}

.nav-border {
  border-radius: 10px;
  max-height: 40px;
}

.task-second-input {
  display: flex;
  justify-content: space-between;
}

.input-2 {
  width: 50%;
  margin-right: 70px;
}
.input-3 {
  width: 50%;
}

.progress {
  --bs-progress-bar-bg: #050505;
  margin-top: 5px;
  margin-left: 5px;
  width: 100px;
}

.timer-box{
  display: flex;
  justify-content: center;
}
